<h1>投稿一覧</h1>

<% @lists.each do |list| %>
<!-- @listsで取得したすべての保存データをeachメソッドで繰り返し取得し、listに保存 -->

  <p>タイトル</p>
  <span>
    <%= link_to list.title, lists_path(list.id) %>
  </span>

  <p>画像</p>
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "200×200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200×200" %>
  <% end %>

<% end %>